@import "../../main.scss";

.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;

  @media (max-width: 767px) {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }

  .navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;

    span {
      display: block !important;
      background-color: $primary-color !important;
      height: 4px !important;
      width: 27px !important;
      margin: 5px 0 !important;
      transition: transform 0.35s ease-in-out !important;
      transform-origin: center !important;
    }

    &:focus,
    &:active {
      outline: 0 !important;
    }

    &.collapsed span:nth-child(1) {
      transform: rotate(0deg) !important;
      position: static !important;
      opacity: 1 !important;
    }

    &.collapsed span:nth-child(2) {
      opacity: 1 !important;
      visibility: visible !important;
      background-color: $primary-color !important;
    }

    &.collapsed span:nth-child(3) {
      transform: rotate(0deg) !important;
      position: static !important;
      opacity: 1 !important;
    }

    span:nth-child(1) {
      transform: rotate(135deg) !important;
      position: absolute !important;
      left: 12px !important;
      top: 10px !important;
      opacity: 0.9 !important;
    }

    span:nth-child(2) {
      visibility: hidden !important;
      background-color: transparent !important;
    }

    span:nth-child(3) {
      transform: rotate(-135deg) !important;
      position: absolute !important;
      left: 12px !important;
      top: 10px !important;
      opacity: 0.9 !important;
    }
  }

  .navbar-brand {
    color: rgb(250, 250, 250) !important;
  }

  .logo {
    height: 1.4em !important;
    width: 2.5em !important;
  }

  .navbar-nav {
    .nav-link {
      color: white !important;
      padding: 0.8rem 1rem !important;

      @media (max-width: 767px) {
        padding: 0.7rem 1rem !important;
      }
    }

    .nav-item {
      position: relative;
      margin-left: 20px;

      a {
        font-weight: 400;
        transition: all 0.3s ease-out 0s;
        position: relative;
        z-index: 1;

        &::after {
          content: "";
          position: relative;
          display: block;
          height: 5px;
          width: 0;
          border-radius: 16px;
          background: $primary-color;
          bottom: 1px;
          left: 0;
          z-index: -1;
          transition: all 0.3s ease-out 0s;
        }

        &:hover::after {
          width: 100%;
        }
      }

      @media (max-width: 767px) {
        a::after {
          display: none !important;
        }
      }
    }
  }
}